@media screen and (max-width: 449px) {

	.logo {
		width: 15%;
		display: inline-block;
		float: left;
		margin-top: 15px;
	}

	.header {
		display: block-inline;
	}

	.header-title, .header-subtitle {
		text-align: right;
		margin-right: 0;
	}

	.main-image-figure {
		width: 100%;
	}

	.main-image {
		width: 100%;
	}

	.project {
		text-align: center;
	}

	.project-link {
		font-size: 12px;
	}

	.project-title {
		margin: 0;
	}

	.project-picture {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 8%;
	}

}

@media screen and (min-width: 450px) {
	.box {
		margin: auto;
	}

	.logo {
		width: 10%;
		display: inline-block;
		float: left;
		margin-top: 15px;
	}

	.main-image {
		max-width: 100%;
	}

	.project-picture {
		width: 100%;
	}

	.project-picture {
		max-width: 50%;
	}
	.project-link {
		font-size: 8px;
	}

	.header-subtitle {
		padding-bottom: 2em;
	}

}

@media screen and (min-width: 700px) {
	.container {
		width: 650px;
		margin-left: auto;
		margin-right: auto;
	}


	.main-image-section {
		width: 55%;
		order: 0;
		display: inline-block;
	}

	.main-image {
		width: 100%;
	}


	.about-me {
		width: 40%;
		order: -2;
	}

	.project {
		display: inline-block;
		width: 30%;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
	}


	.project-link {
		font-size: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100px;

	}


}

@media screen and (min-width: 800px) {
	.container {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	.main-image-section {
		width: 100%;
	}

	.about-me {
		width: 100%q;
	}

}
